<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> 
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <script src="{{ site.baseurl }}/scripts/modernizr.custom.js"></script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<header role="banner" class="page-header" id="top">
    <!--<h1>{{site.title}}</h1>-->
    <h1 class = "main_title">Welcome to VuNguyen's website</h1>
    <!--<p>{{site.tagline}}</p>-->
    <!--<p class = "main_title">welcome to Vu's website</p>-->

	

<!--
<nav role="navigation">
<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" class="toggle-label"><span>menu</span></label>
-->	
	
<nav style="margin: 0 auto">
<ul style="display: inline-block;">	
  <li><a class = "button" href="{{site.baseurl}}/index.html">Blog</a></li>
  <li><a class = "button" href="{{site.baseurl}}/Publications.html">Publications<a</li>
  <li><a class = "button" href="{{site.baseurl}}/Family.html">Family</a></li>
  <li><a class = "button" href="{{site.baseurl}}/about.html">About</a></li>
  <li><a class = "button" href="{{site.baseurl}}/tags/" title="Archive">Archive</a></li>
  <li><a class = "button"　href="#"> Academic Notes </a>	  
	  <ul>
		<li><a class = "button" href="{{site.baseurl}}/Plasticity.html"> Plasticity </a></li>
	        <li><a class = "button" href="{{site.baseurl}}/geotech.html"> Geomechanics </a></li>
	        <li><a class = "button" href="{{site.baseurl}}/FEM.html"> FEM </a></li>
		  
          </ul>
  </li>
  </ul>
</nav>
	
	
</header>

<!-- content goes here -->
	{{content}}

<!-- cooter goes here -->
    {% if page.id %}
	  {% include footer-post.html %}
    {% else %}
      {% include footer.html %}
    {% endif %}
</body>
</html>
